
<section class="bg-dark text-light p-5 p-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content">
            <div>
                <h1>Become a <span class="text-warning">Web Developer</span></h1>
                <p class="load my-4">
                    We focus on teaching and training our clients the fundamentals and advance programming language 
                    that suitable for the industry
                </p>
                <button class="btn btn-primary btn-lg"
                                data-bs-target="#enroll"
                                data-bs-toggle="modal">
                                Start Enrollment
                </button>
            </div>
            <img src="../../../../assets/1.png" alt="" class="img-fluid w-50 d-none d-sm-block">
        </div>
    </div>
</section>