<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
    <div class="container">
        <a href="" class="navbar-brand">MANDIRI E-LEARN</a>

        <button 
        class="navbar-toggle"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu">
        <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="#instructor"class="nav-link">Instructor</a>
                </li>
                <li class="nav-item">
                    <a href="#Angular"class="nav-link">Angular</a>
                </li>
                <li class="nav-item">
                    <a href="#Question"class="nav-link">QUESTION</a>
                </li>
                <li class="nav-item">
                    <a href="#course" class="nav-link">Courses</a>

                </li>
            </ul>
        </div>
    </div>
</nav>