<section class="bg-primary p-5" id="instructor">
    <h1 class="text-center text-light">Our Instructor</h1>
    <p class="text-center text-light"> lorem ipsum dolor sit amet</p>
    <div class="container">
        <div class="row text-center g-4">
            <div class="col-md">
                <div class="card bg-light text-dark">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="https://randomuser.me/api/portraits/women/11.jpg" alt="" class="rounded-circle">
                        </div>
                        <h3 class="card-little mb-3">MBOK DARMI</h3>
                        <p class="card-text">lorem ipsum sit dolor</p>
                        <div class="bi mb-3">
                            <i class="bi bi-whatsapp"></i>
                            <i class="bi bi-instagram"></i>
                            <i class="bi bi-twitter"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-light text-dark">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="https://randomuser.me/api/portraits/women/22.jpg" alt="" class="rounded-circle">
                        </div>
                        <h3 class="card-little mb-3">SUCIMAN</h3>
                        <p class="card-text">lorem ipsum sit dolor</p>
                        <div class="bi mb-3">
                            <i class="bi bi-whatsapp"></i>
                            <i class="bi bi-instagram"></i>
                            <i class="bi bi-twitter"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-light text-dark">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="https://randomuser.me/api/portraits/men/9.jpg" alt="" class="rounded-circle">
                        </div>
                        <h3 class="card-little mb-3">SUKIJAN</h3>
                        <p class="card-text">lorem ipsum sit dolor</p>
                        <div class="bi mb-3">
                            <i class="bi bi-whatsapp"></i>
                            <i class="bi bi-instagram"></i>
                            <i class="bi bi-twitter"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-light text-dark">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="https://randomuser.me/api/portraits/men/11.jpg" alt="" class="rounded-circle">
                        </div>
                        <h3 class="card-little mb-3">PAIJO</h3>
                        <p class="card-text">lorem ipsum sit dolor</p>
                        <div class="bi mb-3">
                            <i class="bi bi-whatsapp"></i>
                            <i class="bi bi-instagram"></i>
                            <i class="bi bi-twitter"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> <br>